.root-editor-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .editor-header,
  .editor-footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    button,
    select {
      border: none;
      background-color: #313131;
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
    }
    select:focus {
      outline: none;
    }
    button {
      color: #00b8a2;
      background-color: #2a3d3a;
      cursor: pointer;
      transition-duration: 0.5s;
    }
    button:hover {
      background-color: #2a635a;
    }
    .title {
      font-size: 24px;
    }
  }
  .editor-footer {
    background-color: #1a1a1a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .btn {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      background-color: #3e3e3e;
      color: #c3c4c8;
      bottom: none;
      border-radius: 4px;
      gap: 10px;
      cursor: pointer;
      transition-duration: 0.5s;
    }
    .btn:hover {
      background-color: #8d8e94;
      color: white;
    }
    button,
    label {
      display: flex;
      align-items: center;
    }
  }
  .editor-body {
    background-color: black;
    flex-grow: 1;
  }
  .editor-left-container,
  .editor-right-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    align-items: center;
  }
}
